body {
  background-color: #f5f8fa;
}
.container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-container,
.tweet-item {
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  margin-bottom: 50px; /* ここの値を増やす */
}
.tweet-item {
  margin-bottom: 10px;
}
.tweet-body img {
  max-width: 100%; /* 画像が枠内に収まるように */
  border-radius: 15px;
  margin-top: 10px;
}
.tweet-title {
  /* タイトルのスタイルを追加 */
  margin-bottom: 10px;
}
.tweet-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
